footer
  .footer_box
    span.title SUPPORT
    .footer_menu
      span f.a.q.
      span privacy policy
      span terms and conditions
      span accessibility
  .footer_box
    span.title FOLLOW US
    .footer_menu
      span instagram
      span pinterest
      span facebook
      span newsletter
  .footer_box
    span.title PAINTBOX
    .footer_menu
      span our studio
      span careers
      span press
      span contact us

    