footer {
  width: 100%;
  height: 40vh;
  padding: 70px 50px;
  background-color: $footer-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: uppercase;
  span.title {
    margin-bottom: 35px;
    font-size: 12px;
    letter-spacing: 4px;
    color: grey;
  }
  .footer_box {
    @include flex-center;
    flex-direction: column;
    .footer_menu {
      @include flex-center;
      flex-direction: column;
      span {
        cursor: pointer;
        margin: 5px 0px;
        font-size: 13px;
        letter-spacing: 2px;
      }
    }
    &:nth-child(2) {
      border-left: 0.5px solid black;
      border-right: 0.5px solid black;
    }
  }
}
