main {
  margin-top: 20px;
  padding: 0px 50px;
  section.part1 {
    margin-bottom: 80px;
    .image_title {
      width: 100%;
      height: 100vh;
      background-image: url("image/1.jpeg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title_banner {
        @include title-banner;
        margin-bottom: 24px;
      }
      p {
        font-family: "Noto Serif JP", serif;
        font-weight: 200;
        text-align: center;
        line-height: 45px;
        width: 40%;
        font-size: 40px;
        margin-bottom: 55px;
        color: $font-color;
      }
      button {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.2em;
        width: 20%;
        height: 55px;
        background-color: inherit;
        border: 0.5px solid black;
        transition: all 0.2s;
        outline: none;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
  section.part2 {
    display: grid;
    width: 100%;
    height: 90vh;
    margin-bottom: 100px;
    grid-template-columns: repeat(2, 1fr);
    .image_title {
      background-image: url("image/2.jpeg");
      background-size: cover;
    }
    .image_title2 {
      background-color: #f3ede9;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title_banner {
        @include title-banner;
        margin-bottom: 24px;
      }
      p {
        @include p-font;
        width: 70%;
        margin-bottom: 70px;
      }
      button {
        width: 40%;
        height: 9%;
        @include button-hover;
      }
    }
  }
  section.part3 {
    height: 110vh;
    margin-bottom: 110px;
    .prod_title {
      @include flex-center;
      flex-direction: column;
      margin-bottom: 150px;
      span {
        letter-spacing: 0.2em;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      h2 {
        font-family: "Noto Serif JP", serif;
        font-size: 30px;
        font-weight: 200;
      }
    }
    .prod_images {
      .pictures {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30%;
        justify-items: center;
        img {
          width: 65%;
        }
        .details_box {
          @include flex-center;
          flex-direction: column;
          span.title {
            font-size: 11px;
            letter-spacing: 0.1em;
            margin-bottom: 10px;
          }
          h2 {
            font-size: 25px;
            font-family: "Noto Serif JP", serif;
            font-weight: 100;
            font-style: italic;
            margin-bottom: 25px;
          }
          span.detail {
            display: block;
            border-bottom: 0.5px solid rgb(122, 90, 59);
            color: rgb(122, 90, 59);
            font-size: 10px;
            letter-spacing: 0.2em;
            margin-bottom: 40px;
          }
          button {
            width: 100%;
            height: 9vh;
            @include button-hover;
          }
        }
      }
    }
  }
  section.part4 {
    .image_title {
      width: 100%;
      height: 100vh;
      background-image: url("image/3.jpeg");
      background-size: 100%;
      background-repeat: no-repeat;

      .title_banner {
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: column;
        span {
          font-family: "Noto Serif JP", serif;

          letter-spacing: 5px;
          font-size: 11px;
          font-weight: 700;
          margin-bottom: 20px;
        }

        p {
          width: 40%;
          text-align: center;
          font-family: "Noto Serif JP", serif;
          font-weight: 200;
          font-size: 2.5rem;
          line-height: 50px;
          letter-spacing: 0.2rem;
          margin-bottom: 60px;
        }
        button {
          width: 20%;
          height: 9%;
          @include button-hover;
        }
      }
    }
  }
  section.part5 {
    width: 100%;
    height: 90vh;
    margin-top: 80px;
    .image_title {
      display: grid;
      grid-auto-rows: auto;
      justify-items: center;
      span {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        letter-spacing: 3px;
        @include flex-center;
        margin-bottom: 30px;
      }
      h2 {
        @include p-font;
        font-family: "Noto Serif JP", serif;
        font-size: 30px;
        @include flex-center;
        margin-bottom: 80px;
      }
      .product_images {
        width: 85%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-items: center;
        img {
          width: 100%;
        }
        img:not(:last-child) {
          border-right: 0.5px solid black;
        }
      }
      button {
        @include button-hover;
        margin-top: 90px;
        width: 20%;
        height: 50%;
      }
    }
  }
  section.banners {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    img {
      width: 100%;
    }
    .banner {
      width: 100%;
      background-color: $banner-color;
      @include flex-center;
      flex-direction: column;

      span.first {
        display: block;
        margin-bottom: 40px;
        font-family: "Noto Serif JP", serif;
      }
      p {
        width: 60%;
        font-family: "Noto Serif JP", serif;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
      }
      .banner_footer {
        display: flex;
        align-items: center;
        span {
          font-size: 13px;
          font-family: "Roboto", sans-serif;
          margin-right: 20px;
        }
      }
    }
  }
  section.part9 {
    height: 100%;
    margin-top: 80px;
    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: center;
    span {
      font-size: 12px;
      letter-spacing: 3px;
      margin-bottom: 40px;
    }
    p {
      font-size: 35px;
      width: 62%;
      text-align: center;
      @include p-font;
      margin-bottom: 90px;
    }
    form {
      display: grid;
      grid-template-columns: 91% 9%;
      padding: 10px 0px;
      width: 60%;
      height: 13vh;
      border: none;
      border-bottom: 0.5px solid black;
      input {
        padding: 0px 10px;
        font-size: 35px;
        border: none;
        outline: none;
        color: $font-color;
        &::placeholder {
          color: grey;
          font-family: "Noto Serif JP", serif;
          font-weight: 200;
        }
      }
      .form_right {
        width: 100%;
        padding: 10px;
        button {
          width: 100%;
          height: 100%;
          background-color: inherit;
          border: 0.5px solid black;
        }
      }
    }
  }
  section.part10 {
    margin-top: 80px;
    .image_grid {
      width: 100%;
      height: 90vh;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      img {
        width: 100%;
        transition: all 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .email {
    margin-top: 90px;
    margin-bottom: 180px;
    @include flex-center;
    font-size: 35px;
    font-family: "Noto Serif JP", serif;
    span.last {
      margin-left: 5px;
      color: rgb(160, 160, 160);
      cursor: pointer;
    }
  }
}
