@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "sticky_header.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&family=Roboto:wght@300;900&family=Source+Sans+Pro:ital,wght@1,200&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  width: 100%;
}
section {
  width: 100%;
  transition: opacity 2.5s;
}
